.filter-button-group{
	margin-bottom: 40px;
}
.filter-button{
	background: #474746; color: #F7F7F7;
}
.filter-button.active{
	background: #;
}

.filter-button:after {
	background: #;
}



section .blockColm .box {
  margin: 0 auto;
  width: 100%;
}


@media (max-width: 420px){

  
  .filter-button-group {
    text-align: left;
  }
  .filter-button{
    margin-bottom:10px;
  }
}